.flex-container {
    display: flex;
    justify-content: space-between;
    width: 950px;
    height: 550px;
  }
  
  .left-container {
    width: 390px;
    height: 470px;
    background-color: #000000;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 8px;
  }
  
  .right-container {
    width: 390px;
    height: 470px;
    background-color: #000000;
    margin-top: 10px;
    margin-right: 50px;
    border-radius: 8px;
  }
  .centered-div {
    display: flex;
    width: 100%;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    background-color: #000000; 
  }
  
  .about{
    letter-spacing: 0.9px;
  
  }
  @media screen and (max-width: 768px) {
    .flex-container {
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
      column-gap: 20px;
      height: auto;
    }
  
    .left-container {
      width: 300px;
      margin-top: 10px;
      margin-left: 15px;
      height: auto;
      position: static;
    }
    .left-container h1{
      padding-left: 30px;
    }
    .left-container h2{
      padding-left: 30px;
      padding-top: 0px;
      letter-spacing: 0.4px;
      padding-bottom: 30px;
    }
  
    .right-container {
      display:none;
    }
    .gt-Icon{
      display: none;
      
    }
}
.gt-Icon{
  margin-left: 95%;
  margin-top: -40px;
  
}