
@media (max-width: 767px) {
   
    .section1 {
        margin-left: 30px;
        height: 180px;
        margin-top: -120px;
    }
    .section1 p {
        width: 100%;
        font-size: 18px;
    }
    .section2{
        display: none;
    }
      .section3{
        display: none;
    }
    .section4{
          display: none;
      }
    
    
}
